.Form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Splitter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.AddActions {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.RemoveLayer:hover {
  color: red;
}

.Step {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  gap: 0.5rem;
}

.RemoveLayer {
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin: 0;
  display: flex;
  align-items: center;
  height: 1rem;
}