.Form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Splitter {
  margin: 1rem 0;
  height: 0;
  overflow: visible;
  border-top: 1px solid #777;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Splitter:last-child {
  border-color: transparent;
}

.AddLayerButton {
  width: 1.75rem;
  height: 1.75rem;
  border: none;
  background: white;
  border-radius: 999px;
}

.AddLayerButton:hover,
.RemoveLayer:hover {
  color: red;
}

.Step {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  gap: 0.5rem;
}

.RemoveLayer {
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin: 0;
  display: flex;
  align-items: center;
  height: 1rem;
}