.FilterLayer {
  min-width: 0;
  flex-grow: 1;
}

.FilterControl {
  width: 100%;
  margin-bottom: 0.25rem;
}

.FilterControl * {
  flex: 1 1 0;
  min-width: 0;
}

.FilterControl *:nth-child(2) {
  flex: 0 0 2.5rem;
}
