---
import { Dashboard } from '../app/Dashboard.tsx';
import 'spectre.css/dist/spectre.min.css';
---

<html>
  <head>
    <title>Hello, hippo!</title>
  </head>
  <body>
    <Dashboard client:load />
  </body>
</html>
