---
import { Dashboard } from '../app/Dashboard.tsx';
import 'spectre.css/dist/spectre.min.css';
---

<html>
  <head>
    <title>Hello, hippo!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <Dashboard client:load />
  </body>
</html>

<style is:global>
  input[type=file] {
    display: none;
  }
</style>