---
import { Logo } from '../app/Logo.tsx';
import { Uploader } from '../app/Uploader';
import Layout from '../layout.astro';
---

<Layout>
  <section class="Landing">
    <div class="Title"><Logo /></div>
    <div class="actions"><Uploader client:load /></div>
    <div class="CardContainer">
      <div class="Card">
        <h2 class="CardTitle" style="color: #01386a">Fast</h2>
        <p class="CardDescription">
          Process millions of rows of data in real time. Tested with 100 Mb datasets!
        </p>
      </div>
      <div class="Card">
        <h2 class="CardTitle" style="color: #2C8D8A">Secure</h2>
        <p class="CardDescription">
            The data stays in your browser. Keep corporations out of your business!
        </p>
      </div>
      <div class="Card">
        <h2 class="CardTitle" style="color: #FF1E66">Simple</h2>
        <p class="CardDescription">
          Upload a CSV and dig into the data right away, no coding required!
        </p>
      </div>
    </div>
  </section>
</Layout>

<style>
  :global(html) {
    background: linear-gradient(to right, #FFA566, #FF1E66);
  }

  .actions {
    display: flex;
    gap: 1rem;
    margin: 0 -2rem;
  }

.Landing {
  padding: 4rem;
  width: max-content;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  position: relative;
  margin: auto;
}

.Title {
  margin: 2rem 0 0;
  width: 80vw;
  color: #01386a;
}

.CardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 -2rem;
}

.Card {
  width: 20%;
  padding: 1rem 2rem 1.5rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.CardTitle {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}

.CardDescription {
  margin: 0;
  font-size: 1.25em;
}

@media (max-width: 600px) {
  .Landing {
    box-sizing: border-box;
    align-items: stretch;
    justify-content: flex-end;
    padding: 3rem;
    font-size: 0.75rem;
  }

  .Card {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }

  .actions {
    flex-direction: column;
    align-items: stretch;
  }
}
</style>
