table {
  table-layout: fixed;
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: monospace;
  font-size: 12px;
  white-space: nowrap;
  overflow: auto;
  border-collapse: collapse;
}

thead {
  display: block;
  position: sticky;
  top: 0;
  user-select: none;
}

tbody {
  flex-grow: 1;
}

tr {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table td, table th {
  border-bottom: 1px solid #dadee4;
  padding: 0 6px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}

th {
  background-color: #fff;
  display: inline-block;
}