table {
  table-layout: fixed;
  display: flex;
  flex-grow: 1;
  height: 100vh;
  flex-direction: column;
  font-family: monospace;
  font-size: 12px;
  white-space: nowrap;
  overflow: auto;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  user-select: none;
}

thead tr {
  border: none;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

tbody {
  flex-grow: 1;
}

tr {
  border-bottom: 1px solid #dadee4;
}

tr {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr:not(thead tr):hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

td,
th {
  padding: 0 6px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  box-sizing: border-box;
  max-width: 1000px;
}

th {
  cursor: pointer;
}

th:hover {
  color: #aa3333;
}
