@media (max-width: 600px) {
  .Button {
    width: 100%;
  }
}

.ButtonGroup {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.Button {
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
  letter-spacing: 0.02em;
  user-select: none;
  font-weight: bold;
  padding: 0.75rem 2rem;
  color: inherit;
  white-space: nowrap;
  line-height: 1;
  border-radius: 3rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.Button.primary {
  background-color: #66ffb3;
}

.Button:hover {
  background-color: #ffb366;
  color: #fff;
}
