.Welcome {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background: linear-gradient(to right, #ffa566, #ff1e66);
  position: relative;
  padding: 1rem;
}

.Spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
}

@media (max-width: 600px) {
  .Welcome {
    flex-direction: column;
  }
}
