.Fab {
  background: white;
  z-index: 1;
  transition: filter 300ms ease;
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.Fab.primary {
  background-color: #007bff;
  color: white;
}

.Fab:hover {
  filter: brightness(1.2);
}

.FabHolder {
  width: 0;
  position: relative;
}

.FabContainer {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 640px) {
  .FabContainer {
    position: fixed;
  }
}
