<html>
  <head>
    <title>Hippotable | data analytics toolkit</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  input[type=file] {
    display: none;
  }

  body {
    color: #3b4351;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;    margin: 0;
  }

  html {
    box-sizing: border-box;
    font-size: 20px;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
</style>
